/* * { outline: 2px dotted red}; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section * {
  font-family: 'Lato', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: white;
}

.nav-bar .menu-btn {
  border: 0;
}

.nav-bar .menu-btn img {
  width: 20px;
}

.nav-bar .logo {
  position: absolute;
  right: 60%;
  left: 40%;
  font-size: small;
  order: 1;
}

.logo-img {
  width: 30px;
}

.nav-bar .mobile-menu {
  height: 100vh;
  gap: 5%;
  padding: 10%;
  z-index: 1;
}

.diasablePointer {
  pointer-events: none;
}

.container-1 {
  background-image: url(../Images/mobile_intro_bg.png);
  background-position: top center;
}

.container-1 h1 {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 2em;
}

.h1-effect {
  background-image: url(../Images/title2-bg.jpg);
  background-size: 20%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grey-bg {
  background-color: rgba(177, 177, 177, 0.1);
}

.quote {
  color: #ff4f38 !important;
}

.summary {
  border: 4px solid rgb(255, 255, 255);
  margin: 17px 0.75em 0;
  padding: 1em 0.5em;
  font-size: 13px;
}

.about-summary {
  background-color: white;
  border: 2px solid rgb(177, 177, 177);
}

.program {
  background-image: url(../Images/pattern_bg.png);
  background-color: rgb(39, 42, 50);
}

.program h3 {
  font-size: 1em;
}

.program button {
  background-color: rgb(239, 81, 60);
}

.line {
  background-color: rgb(239, 81, 60) !important;
  width: 30px;
  height: 2px;
  position: relative;
  right: 48%;
  left: 48%;
}

.line2 {
  background-color: rgb(204, 203, 203);
  width: 30px;
  height: 2px;
  position: relative;
  margin-bottom: 10px;
}

.cards :last-child {
  font-size: 0.75em;
}

.cards {
  margin: 0.8em;
  background: rgba(255, 255, 255, 0.1);
  min-height: 13vh;
}

.card-heading {
  color: rgb(239, 81, 60);
}

.cards > * {
  margin: auto;
}

.speakers .card img {
  width: 100%;
}

.speaker-description {
  font-size: 0.75em;
  color: #ff4f38;
}

.more-btn {
  border: 1px solid gray;
  border-radius: 2px;
  width: 100%;
  background: none;
  margin: auto;
}

.flip-img {
  transform: rotateX(180deg);
}

.logo-display {
  max-width: 30vw;
}

.conference-container {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  height: 50vw;
  width: 400px;
}

.conference-bg {
  background-color: rgb(255, 79, 56, 0.5) !important;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.sponsors {
  background-color: rgba(0, 0, 0, 0.9);
}

.all-sponsors {
  height: 190px !important;
  filter: grayscale(100%);
}

.sponsors .all-sponsors img {
  max-width: 26vw;
  height: 10vh;
  margin: 10px 0;
}

footer {
  font-size: 0.9em;
}

footer p {
  align-self: center;
}

footer img {
  width: 70px;
  height: 100%;
}

#about-section-container {
  width: 100%;
  background-image: url(../Images/about_bg.png) !important;
  background-position-y: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  header {
    position: fixed !important;
    width: 100vw;
    z-index: 1;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 30%);
  }
  
  nav {
    padding: 0 !important;
    width: 100vw !important;
  }

  .mobile-menu {
    background-color: white !important;
  }

  .mobile-menu * {
    color: black;
  }

  .mobile-menu * :hover {
    color: rgb(247, 12, 12);
  }

  .nav-bar {
    padding: 0 15%;
  }

  .nav-bar .mobile-menu {
    position: relative;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
    gap: 0;
    width: fit-content !important;
  }

  .nav-bar .logo {
    position: static;
    text-align: left;
    order: 0;
  }

  #collapsibleNavId {
    flex-grow: 0;
  }

  .red-border {
    border: 3px solid #ff4f38;
    font-size: 0.7em !important;
  }

  .container-1 {
    background-image: url(../Images/main_big.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-tap-highlight-color: transparent;
  }

  .section-container {
    padding-left: 15%;
    padding-right: 30%;
  }

  .container-2 {
    padding-top: 120px !important;
  }

  .more-btn {
    border: 0;
    color: #ff4f38;
    width: fit-content;
    padding-top: 7% !important;
  }

  .more-btn:hover {
    color: rgb(143, 2, 2);
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 15px;
  }

  .prev {
    left: 15px;
  }

  .prev:hover,
  .next:hover {
    color: white;
    transform: scale(1.5);
  }

  .sponsors img {
    max-width: 9vw !important;
    margin: auto;
    height: 10vh;
  }

  .all-sponsors {
    padding: 0 25% 5%;
    overflow: hidden !important;
  }

  .logo-display {
    max-width: 20vw;
  }

  .cards {
    margin: 0.1em;
  }

  .conference-container {
    height: 300px;
    width: 400px;
  }

  #speaker-container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .speaker-card div {
    padding: 0 !important;
  }

  .container-1 h1 {
    font-size: 3em;
  }

  #about-section-container {
    width: 80%;
    background-position: center;
  }

  .showcase {
    padding: 3% 18% !important;
    gap: 1 !important;
  }

  .program a:hover {
    text-decoration: none;
    color: #ff4f38 !important;
  }

  nav ul li {
    padding: 0 3%;
  }

  nav ul li .red-border {
    width: 100px !important;
  }

  .socials a:hover {
    transform: scale(1.2);
  }
}
